<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Apple Music Discord RPC" Language="1033" Version="2.0.0" Manufacturer="sliger.dev" UpgradeCode="32f77502-e793-4eef-81dc-a25a8f6fbe2d">
  
  <Package Platform="x64" InstallerVersion="500" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <Icon Id="icon.ico" SourceFile="..\..\resources\icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="ARPNOREPAIR" Value="yes" />
    <Property Id="ARPNOMODIFY" Value="yes" />

    <MajorUpgrade
    AllowDowngrades="no"
    DowngradeErrorMessage="A newer version of this app is already installed." />


    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Apple Music Discord RPC" />
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
        <Component Id="MainExecutable" Guid="8b676277-dee9-4a5c-9ce3-f87023d5d4fc" Win64="yes">
            <File Id="apple_music_discord_rpc_exe" Source="..\..\apple-music-discord-app.exe" KeyPath="yes">
              <Shortcut Id="DesktopShortcut"
                  Directory="DesktopFolder"
                  Name="Apple Music Discord RPC"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="icon.ico"
                  IconIndex="0"
                  Advertise="yes" />
            </File>
        </Component>

        <Component Id="GoSideCar" Guid="de96b1a6-794e-49be-ac9a-dd37d8d165af" Win64="yes">
            <File Id="go_am_discord_rpc_exe" Source="..\..\go-am-discord-rpc.exe" />
        </Component>

        <Component Id="WinClientSidecar" Guid="1f815f35-b945-4093-b716-35849b3dcda4" Win64="yes">
            <File Id="windows_apple_music_info_exe" Source="..\..\windows-apple-music-info.exe" />
        </Component>

        <!-- Embed .NET Runtime Installer -->
        <Component Id="DotNetRuntime" Guid="4fed3514-3de9-4a90-8a1a-6dd25563fbb5" Win64="yes">
            <File Id="DotNetInstaller" Source="..\..\dotnet\dotnet-runtime-8.0.17-win-x64.exe" />
        </Component>
    </DirectoryRef>

    <!-- Custom Action to Run .NET Runtime Installer -->
    <CustomAction Id="InstallDotNet"
                  FileKey="DotNetInstaller"
                  ExeCommand="/install /quiet /norestart"
                  Execute="deferred"
                  Impersonate="no"
                  Return="check" />

    <Property Id="DOTNET8_INSTALLED">
      <RegistrySearch Id="SearchDotNet8Runtime"
                      Root="HKLM"
                      Key="SOFTWARE\dotnet\Setup\InstalledVersions\x64\sharedhost"
                      Name="Version"
                      Type="raw"
                      Win64="yes" />
    </Property>

    <InstallExecuteSequence>
      <Custom Action="InstallDotNet" Before="InstallFinalize">
        NOT DOTNET8_INSTALLED
      </Custom>
    </InstallExecuteSequence>

    <Feature Id="DefaultFeature" Level="1">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="GoSideCar" />
      <ComponentRef Id="WinClientSidecar" />
      <ComponentRef Id="DotNetRuntime" />
    </Feature>
  </Product>
</Wix>
